.search {
    margin-top: 15px;
}

#searchbuttontd {
    padding: 10px;
}

#searchcategory, #searchbar {
    height: 40px;
}

#searchcategory {
    width: 100px;
}

#searchbar {
    width: 900px;
}

#searchheader {
    margin-top: 20px;
}

.clickablerow {
    width: 100%;
    background: none;
    border: none;
    box-shadow: none;
    text-align: left;
}